# Ignore everything
*

# But not these files...
!.gitignore
!*.csv
!*.md
!*.py
!*.ipynb
!*.svg
!*.yaml
!*.bib
!*.csl
!requirements.txt
!*.tex
!*.qmd
!*.yml

# ...even if they are in subdirectories
!*/

# Ignore venv folder
venv/

# Re-ignore .py files in the venv folder
venv/**/*.py
/.luarc.json

**/.ipynb_checkpoints/

